<IfModule mod_setenvif.c>
  SetEnvIf X-Forwarded-Proto "^https$" HTTPS
</IfModule>

# Disable server signature
ServerSignature Off

# Limit HTTP request types to only needed types
<LimitExcept GET POST>
	Order Allow,Deny
	Deny from all
</LimitExcept>

# Restrict access htaccess
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

# Restrict access to wp-config file
<files wp-config.php>
order allow,deny
deny from all
</files>

# Block WordPress xmlrpc.php requests
<Files xmlrpc.php>
order deny,allow
deny from all
</Files>

Options -Indexes +FollowSymLinks -MultiViews


RewriteEngine On
RewriteBase /

RewriteCond %{ENV:IGENV} =Production
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^.* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

RewriteCond !%{HTTP_HOST} maxlivingdev.com

RewriteRule ^wp-json$ / [L,R=301,NC]

# END Migration Redirects

Redirect 302 /admin https://maxlivingdev.com/wp-admin

# SITEMAP REDIRECT
RewriteRule ^sitemap.xml /sitemap_index.xml [L,R=301,NC]
# END SITEMAP REDIRECT

# BEGIN WordPress
RewriteRule ^index\.php$ - [L]

# add a trailing slash to /wp-admin
RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) app/$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ app/$2 [L]
RewriteRule . index.php [L]

# END WordPress

# Wordfence WAF
<Files ".user.ini">
<IfModule mod_authz_core.c>
	Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
	Order deny,allow
	Deny from all
</IfModule>
</Files>

# END Wordfence WAF

# BEGIN ShortPixelWebp

# END ShortPixelWebp
